<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <pdftemplates>
            <items>
                <columns>
                    <singlepricewithouttax>
                        <label>Nettopreis</label>
                        <renderer>LauserMedia\CustomPrice\Model\Renderer\SinglePriceWithoutTax</renderer>
                        <sort_order>23</sort_order>
                        <default>
                            <item_1>Default</item_1>
                            <item_2>Default</item_2>
                            <item_3>Default</item_3>
                            <item_4>Default</item_4>
                            <item_5>Default</item_5>
                        </default>
                        <is_active>
                            <order>1</order>
                            <invoice>1</invoice>
                            <creditmemo>1</creditmemo>
                            <shipment>1</shipment>
                        </is_active>
                    </singlepricewithouttax>
                    <totalwithouttax>
                        <label>Total (Netto)</label>
                        <renderer>LauserMedia\CustomPrice\Model\Renderer\TotalPriceWithoutTax</renderer>
                        <sort_order>99</sort_order>
                        <default>
                            <item_1>Default</item_1>
                            <item_2>Default</item_2>
                            <item_3>Default</item_3>
                            <item_4>Default</item_4>
                            <item_5>Default</item_5>
                        </default>
                        <is_active>
                            <order>1</order>
                            <invoice>1</invoice>
                            <creditmemo>1</creditmemo>
                            <shipment>1</shipment>
                        </is_active>
                    </totalwithouttax>
                </columns>
            </items>
        </pdftemplates>
    </default>
</config>
